In [1]:
import pandas as pd
import numpy as np
import requests
import re
from bs4 import BeautifulSoup

In [2]:
binaaz=pd.DataFrame()

In [3]:
for page_num in range(1,10): 
    url=f'https://bina.az/items/all?page={page_num}'

    page=requests.get(url)

    hmtl=BeautifulSoup(page.content, 'html.parser')

    bina=hmtl.find_all('div', class_='card_params')

    for i in range(len(bina)):
        info=re.sub('<[^>]+>', ' ', str(bina[i])).split('   ')
        if '/gün' in str(info):
            saletype='Günlük'
        elif '/ay' in str(info):
            saletype='Ayliq'
        else:
            saletype='Umumi'

        price= info[1].replace('AZN', '').replace(' ', '')

        location=info[2].strip()

        city=info[4].split(',')[0].strip()

        date=info[4].split(',')[1].strip()

        if info[3].count(' ')==7:
            room_count=info[3].split('  ')[0]
            kvm=info[3].split('  ')[1]
            floor=info[3].split('  ')[2]
        elif info[3].count(' ')==4:
            room_count=info[3].split('  ')[0]
            kvm=info[3].split('  ')[1]
        else:
            kvm=info[3]
        binaaz=binaaz.append({
            'Sale_Type':saletype,
            'Price': price,
            'Location': location,
            'City': city,
            'Rooms_count': room_count,
            'KvM': kvm,
            'Floor': floor,
            'Date': date
        }, ignore_index=True)

In [4]:
binaaz

,Sale_Type,Price,Location,City,Rooms_count,KvM,Floor,Date
0,Umumi,128000,Həzi Aslanov m.,Bakı,2 otaqlı,70 m²,4/17 mərtəbə,bugün 23:05
1,Umumi,315000,Nəriman Nərimanov m.,Bakı,4 otaqlı,160 m²,8/10 mərtəbə,bugün 23:04
2,Umumi,350000,Nəriman Nərimanov m.,Bakı,4 otaqlı,185 m²,6/16 mərtəbə,bugün 23:04
3,Umumi,410000,Nəriman Nərimanov m.,Bakı,3 otaqlı,170 m²,6/16 mərtəbə,bugün 23:03
4,Umumi,175000,Həzi Aslanov m.,Bakı,3 otaqlı,110 m²,6/14 mərtəbə,bugün 23:03
...,...,...,...,...,...,...,...,...
211,Umumi,240000,Nəriman Nərimanov m.,Bakı,3 otaqlı,100 m²,4/8 mərtəbə,bugün 21:09
212,Umumi,290000,Yasamal r.,Bakı,3 otaqlı,150 m²,13/27 mərtəbə,bugün 21:09
213,Umumi,215000,Nərimanov r.,Bakı,3 otaqlı,116 m²,7/12 mərtəbə,bugün 21:08
214,Umumi,263000,Səbail r.,Bakı,3 otaqlı,140 m²,17/19 mərtəbə,bugün 21:08
215,Umumi,230000,Nəriman Nərimanov m.,Bakı,3 otaqlı,125 m²,10/15 mərtəbə,bugün 21:08

In [5]:
binaaz['Price']=binaaz['Price'].str.replace('/gün', '').str.replace('/ay', '')

In [6]:
binaaz.dtypes

Sale_Type      object
Price          object
Location       object
City           object
Rooms_count    object
KvM            object
Floor          object
Date           object
dtype: object

In [7]:
binaaz['Price']=pd.to_numeric(binaaz['Price'])

In [8]:
binaaz['Date']=binaaz['Date'].str.replace('bugün', str(pd.datetime.today())[:10].replace('-', '/'))

C:\Users\Acer\AppData\Local\Temp/ipykernel_7728/665559637.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  binaaz['Date']=binaaz['Date'].str.replace('bugün', str(pd.datetime.today())[:10].replace('-', '/'))

In [9]:
str(pd.datetime.today())[:10].replace('-', '/')

C:\Users\Acer\AppData\Local\Temp/ipykernel_7728/1852707819.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  str(pd.datetime.today())[:10].replace('-', '/')

'2022/10/07'

In [10]:
binaaz['Date']=pd.to_datetime(binaaz['Date'])

In [13]:
binaaz.dtypes

Series([], dtype: object)

In [11]:
binaaz

,Sale_Type,Price,Location,City,Rooms_count,KvM,Floor,Date
0,Umumi,128000,Həzi Aslanov m.,Bakı,2 otaqlı,70 m²,4/17 mərtəbə,2022-10-07 23:05:00
1,Umumi,315000,Nəriman Nərimanov m.,Bakı,4 otaqlı,160 m²,8/10 mərtəbə,2022-10-07 23:04:00
2,Umumi,350000,Nəriman Nərimanov m.,Bakı,4 otaqlı,185 m²,6/16 mərtəbə,2022-10-07 23:04:00
3,Umumi,410000,Nəriman Nərimanov m.,Bakı,3 otaqlı,170 m²,6/16 mərtəbə,2022-10-07 23:03:00
4,Umumi,175000,Həzi Aslanov m.,Bakı,3 otaqlı,110 m²,6/14 mərtəbə,2022-10-07 23:03:00
...,...,...,...,...,...,...,...,...
211,Umumi,240000,Nəriman Nərimanov m.,Bakı,3 otaqlı,100 m²,4/8 mərtəbə,2022-10-07 21:09:00
212,Umumi,290000,Yasamal r.,Bakı,3 otaqlı,150 m²,13/27 mərtəbə,2022-10-07 21:09:00
213,Umumi,215000,Nərimanov r.,Bakı,3 otaqlı,116 m²,7/12 mərtəbə,2022-10-07 21:08:00
214,Umumi,263000,Səbail r.,Bakı,3 otaqlı,140 m²,17/19 mərtəbə,2022-10-07 21:08:00
215,Umumi,230000,Nəriman Nərimanov m.,Bakı,3 otaqlı,125 m²,10/15 mərtəbə,2022-10-07 21:08:00