In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r'C:/Users/Acer/Downloads/house price.csv')

In [3]:
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25,1665,374.0,845,330,1.5603,INLAND,78100
20636,-121.21,39.49,18,697,150.0,356,114,2.5568,INLAND,77100
20637,-121.22,39.43,17,2254,485.0,1007,433,1.7000,INLAND,92300
20638,-121.32,39.43,18,1860,409.0,741,349,1.8672,INLAND,84700
20639,-121.24,39.37,16,2785,616.0,1387,530,2.3886,INLAND,89400

In [4]:
data.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
ocean_proximity         0
median_house_value      0
dtype: int64

In [5]:
data.dtypes

longitude             float64
latitude              float64
housing_median_age      int64
total_rooms             int64
total_bedrooms        float64
population              int64
households              int64
median_income         float64
ocean_proximity        object
median_house_value      int64
dtype: object

In [6]:
data_bedrooms_na=data[data['total_bedrooms'].isna()]

In [7]:
data_bedrooms_notna=data[data['total_bedrooms'].notna()]

In [8]:
X=pd.get_dummies(data_bedrooms_notna.loc[:, ['housing_median_age', 'total_rooms',  'population', 'median_income', 'ocean_proximity', 'median_house_value']]).values

In [9]:
Y=data_bedrooms_notna['total_bedrooms'].values

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test= train_test_split(X, Y, test_size=0.2, random_state=0)

In [11]:
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor()
regressor.fit(X_train, Y_train)

RandomForestRegressor()

In [12]:
prediction=regressor.predict(X_test)

In [13]:
from sklearn.metrics import r2_score, mean_squared_error
score1= r2_score(Y_test, prediction)
score2=np.sqrt(mean_squared_error(Y_test, prediction))

In [14]:
score1

0.957639795800445

In [15]:
X1=pd.get_dummies(data_bedrooms_na.loc[:, ['housing_median_age', 'total_rooms',  'population', 'households', 'median_income', 'ocean_proximity', 'median_house_value']]).values

In [16]:
prediction_nan=regressor.predict(X1)

In [17]:
data.loc[data['total_bedrooms'].isna(), 'total_bedrooms']=prediction_nan

In [18]:
data.isna().any()

longitude             False
latitude              False
housing_median_age    False
total_rooms           False
total_bedrooms        False
population            False
households            False
median_income         False
ocean_proximity       False
median_house_value    False
dtype: bool

In [19]:
X=pd.get_dummies(data).values

In [20]:
Y=data['median_house_value'].values

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test= train_test_split(X,Y, test_size=0.2, random_state=0)

In [22]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor
regressor1=RandomForestRegressor()
regressor2=DecisionTreeRegressor()
regressor3=LGBMRegressor()
regressor4=XGBRegressor()
regressor1.fit(X_train, Y_train)
regressor2.fit(X_train, Y_train)
regressor3.fit(X_train, Y_train)
regressor4.fit(X_train, Y_train)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

In [23]:
prediction1=regressor1.predict(X_test)
prediction2=regressor2.predict(X_test)
prediction3=regressor3.predict(X_test)
prediction4=regressor4.predict(X_test)

In [24]:
from sklearn.metrics import r2_score
score1=r2_score(Y_test, prediction1)
score2=r2_score(Y_test, prediction2)
score3=r2_score(Y_test, prediction3)
score4=r2_score(Y_test, prediction4)

In [25]:
score1

0.9999996366434002

In [26]:
score2

0.9999995316499342

In [27]:
score3

0.9999434272181713

In [28]:
score4

0.9999946023524932